# =============== #
# Unity generated #
# =============== #
HoloApp/[Tt]emp/
HoloApp/[Oo]bj/
HoloApp/[Bb]uild
HoloApp/[Bb]uilds/
HoloApp/[Ll]ibrary/
HoloApp/sysinfo.txt
HoloApp/*.stackdump
HoloApp/Assets/AssetStoreTools*
HoloApp/*.apk
HoloApp/*.unitypackage
HoloApp/App/
!HoloApp/App/HoloCAD/Assets
!HoloApp/**/*.obj
!HoloApp/**/*.obj.meta
 
Meter/[Tt]emp/
Meter/[Oo]bj/
Meter/[Bb]uild
Meter/[Bb]uilds/
Meter/[Ll]ibrary/
Meter/sysinfo.txt
Meter/*.stackdump
Meter/Assets/AssetStoreTools*
Meter/*.apk
Meter/*.unitypackage
Meter/App/
!Meter/**/*.obj
!Meter/**/*.obj.meta

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
HoloApp/[Ee]xported[Oo]bj/
HoloApp/.vs/
HoloApp/.idea/
HoloApp/*.userprefs
HoloApp/*.csproj
HoloApp/*.pidb
HoloApp/*.pidb.meta
HoloApp/*.suo
HoloApp/*.sln.*
HoloApp/*.user
HoloApp/*.unityproj
HoloApp/*.booproj
HoloApp/*.consulo
HoloApp/*.tmp
HoloApp/*.svd

HoloCADExporter/[Ee]xported[Oo]bj/
HoloCADExporter/.vs/
HoloCADExporter/.idea/
HoloCADExporter/HoloCADExporter/[Bb]in/
HoloCADExporter/HoloCADExporter/[Oo]bj/
HoloCADExporter/[Pp]ackages/
HoloCADExporter/*.userprefs
HoloCADExporter/*.csproj
HoloCADExporter/*.pidb
HoloCADExporter/*.pidb.meta
HoloCADExporter/*.suo
HoloCADExporter/*.sln.*
HoloCADExporter/*.user
HoloCADExporter/*.unityproj
HoloCADExporter/*.booproj
HoloCADExporter/*.consulo
HoloCADExporter/*.tmp
HoloCADExporter/*.svd
 
Meter/[Ee]xported[Oo]bj/
Meter/.vs/
Meter/.idea/
Meter/*.userprefs
Meter/*.csproj
Meter/*.pidb
Meter/*.pidb.meta
Meter/*.suo
Meter/*.sln.*
Meter/*.user
Meter/*.unityproj
Meter/*.booproj
Meter/*.consulo
Meter/*.tmp
Meter/*.svd

# ============ #
# OS generated #
# ============ #
HoloApp/.DS_Store*
HoloApp/._*
HoloApp/.Spotlight-V100
HoloApp/.Trashes
HoloApp/ehthumbs.db
**/[Tt]humbs.db
**/[Tt]humbs.db.meta
**/[Dd]esktop.ini
HoloApp/Corridor/Library/ShaderCache/
HoloApp/Corridor/Library/metadata/ 

HoloCADExporter/.DS_Store*
HoloCADExporter/._*
HoloCADExporter/.Spotlight-V100
HoloCADExporter/.Trashes
HoloCADExporter/ehthumbs.db
HoloCADExporter/Corridor/Library/ShaderCache/
HoloCADExporter/Corridor/Library/metadata/ 

Meter/.DS_Store*
Meter/._*
Meter/.Spotlight-V100
Meter/.Trashes
Meter/ehthumbs.db
Meter/Corridor/Library/ShaderCache/
Meter/Corridor/Library/metadata/ 

# ================ #
# Third-party libs #
# ================ #
HoloApp/Assets/StandaloneFileBrowser/
HoloApp/Assets/StandaloneFileBrowser.meta
HoloApp/Assets/Plugins
HoloApp/Assets/HoloToolkit/
HoloApp/Assets/HoloToolkit.meta
HoloApp/MSBuild/
HoloApp/Assets/MixedReality*
HoloApp/Assets/MixedRealityToolkit*/
HoloApp/Assets/Paroxe/
HoloApp/Assets/Paroxe*
!HoloApp/Assets/MixedRealityToolkit.Generated/CustomProfiles/
!HoloApp/Assets/MixedRealityToolkit.Generated/CustomProfiles.meta

Meter/Assets/StandaloneFileBrowser/
Meter/Assets/StandaloneFileBrowser.meta
Meter/Assets/Plugins/
Meter/Assets/HoloToolkit/
Meter/Assets/HoloToolkit.meta