# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Bb]uilds/
[Ll]ibrary/
sysinfo.txt
*.stackdump
Assets/AssetStoreTools*
*.apk
*.unitypackage
App/
!App/HoloCAD/Assets
!**/*.obj
!**/*.obj.meta

# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
.idea/
*.userprefs
*.csproj
*.pidb
*.pidb.meta
*.suo
*.sln.*
*.user
*.unityproj
*.booproj
*.consulo
*.tmp
*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
**/[Tt]humbs.db
**/[Tt]humbs.db.meta
**/[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/ 

# ================ #
# Third-party libs #
# ================ #
Assets/Plugins
MSBuild/
Assets/MixedReality*
Assets/MixedRealityToolkit*/
!Assets/MixedRealityToolkit.Generated/CustomProfiles/
!Assets/MixedRealityToolkit.Generated/CustomProfiles.meta
